body {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 10px;
}

.profil {
  border-radius: 12px;
  background: #0b7f60;
  box-shadow: -5px 5px 0px #0b7e5f, 5px -5px 0px #0b8061;
  width: 25%;
  margin: 20px;
  padding: 5px;
  padding-bottom: 15px;
}

button {
  border-radius: 5px;
  margin: 2px;
}
