body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: grey;
  font-size: 10px;
}

.profil {
  border-color: grey;
  border-style: solid;
  width: 300px;
}
